.block {
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: seagreen;
}
.inner {
    width: 20%;
    height: 50%;
    background-color: seashell;
    border-radius: 15px;
    border: 1px solid black;
}

.anim {
    animation-duration: 3s;
    animation-name: motion;
    animation-iteration-count: infinite;
}

@keyframes motion {
    0% {
        margin-left: 0%;
    }
    50% {
        margin-left: 80%;
    }
    100% {
        margin-left: 0%;
    }
}